<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>लाल सिंह आर्य - राष्ट्रीय अध्यक्ष-भाजपा, अनुसूचित जाति मोर्चा</title>
    <link href="~/Content/css/main-style.min.css" rel="stylesheet" />
    <link href="~/theme/assets/icon/icofont/css/icofont.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
</head>
<body>
    <!-- ======= Top-Bar ======= -->
    <section id="topbar-strip" class="d-none d-sm-block">
        <div class="row">
            <div class="col-md-12">
                <marquee>लाल सिंह आर्य - राष्ट्रीय अध्यक्ष-भाजपा, अनुसूचित जाति मोर्चा</marquee>
            </div>
        </div>
    </section>
    <!-- ======= Menu-Bar ======= -->
    <section id="menubar-strip">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg  navbar-dark " style="background-color:#f49c00">
                    <div class="container">
                        <a class="navbar-brand" href="#" style="font-weight:900; color:white;">
                            <img src="~/Img/menu-icon.jpg" class="rounded-circle" height="40" />
                            लाल सिंह आर्य
                        </a>
                        <button class="navbar-toggler bg-c-yellow" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span style="color:white" class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto ">
                                <li class="nav-item active">
                                    <a class="nav-link" href="@Url.Action("Index", "Home")">मुख्य पृष्ठ<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("LalSinghArya", "StaticContent")">परिचय</a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        प्रेरणापुंज
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="@Url.Action("DrShyamaPrasadMukherjee", "StaticContent")">डॉ श्यामा प्रसाद मुखर्जी</a>
                                        <a class="dropdown-item" href="@Url.Action("PanditDeendayalUpadhyay", "StaticContent")">पंडित दीनदयाल उपाध्याय</a>
                                        <a class="dropdown-item" href="@Url.Action("RajmataShindia", "StaticContent")">राजमाता सिंधिया</a>
                                        <a class="dropdown-item" href="@Url.Action("KushabhauThackeray", "StaticContent")">कुशाभाऊ ठाकरे </a>
                                        <a class="dropdown-item" href="@Url.Action("AtalBihariVajpayee", "StaticContent")">अटल बिहारी वाजपेयी जी</a>
                                        <a class="dropdown-item" href="@Url.Action("LalKrishnaAdvani", "StaticContent")">लालकृष्ण अडवानी जी</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        हमारे आदर्श
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="@Url.Action("DrBheemRao", "StaticContent")">बाबा साहेब डॉ भीमराव आंबेडकर जी</a>
                                        <a class="dropdown-item" href="@Url.Action("SantRavidas", "StaticContent")">संत रविदास</a>
                                        <a class="dropdown-item" href="@Url.Action("SantKabirdas", "StaticContent")">संत कबीरदास</a>
                                        <a class="dropdown-item" href="@Url.Action("MaharishiSupachSudarshan", "StaticContent")">महर्षि सुपच सुदर्शन</a>
                                        <a class="dropdown-item" href="@Url.Action("MaharishiBalmiki", "StaticContent")">महर्षि बाल्मीकि</a>
                                        <a class="dropdown-item" href="@Url.Action("MahatmaJyotibaPhule", "StaticContent")">महात्मा ज्योतिबा फुले</a>
                                        <a class="dropdown-item" href="@Url.Action("SabitriBaiPhule", "StaticContent")">सावित्रीबाई फुले</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        योजनाये
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="@Url.Action("RastiyaYojnaye", "StaticContent")">राष्ट्रीय योजना </a>
                                        <a class="dropdown-item" href="@Url.Action("RajyaYojnaye", "StaticContent")">राज्य योजना</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">आगामी कार्यक्रम</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">समाचार</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">फोटो गैलेरी</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">ब्लॉग</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">संपर्क</a>
                                </li>
                            </ul>
                            @*<form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>*@
                        </div>
                    </div>
                </nav>
            </div>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="padding-top:0px;padding-bottom:7px;padding-left:17px">
                    (राष्ट्रीय अध्यक्ष-भाजपा, अनुसूचित जाति मोर्चा)                  
                </div>
            </div>
        </div>        
    </section>
    <!-- ======= Render Body ======= -->
    <section>
     @RenderBody()
    </section>
    <!-- ======= Footer ======= -->
    <footer id="footer" class="mt-3">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6 footer-info">
                        <h4>Message to Public</h4>
                        <p>
                            बीजेपी अनुसूचित जाति मोर्चा मुख्य रूप से अनुसूचित जाति समुदायों के अधिकारों को उनके लिए उपलब्ध संवैधानिक सुरक्षा उपायों के अनुसार सुरक्षित रखने के लिए है। मोर्चा अनुसूचित जाति समुदाय के समग्र विकास के लिए नीतियों और योजनाओं को तैयार करने की दिशा में भी काम करता है। यह अनुसूचित जाति समुदाय को आम जनसंख्या के साथ समान रूप से समुदाय के सामाजिक-आर्थिक विकास की दिशा में काम करने के लिए मुख्यधारा में लाने की इच्छा रखता है ताकि उन्हें गरीबी रेखा से नीचे उठाया जा सके। अपने उद्देश्य को पूरा करने के लिए एससी मोर्चा अनुसूचित जाति समुदाय को संगठित करने में कुशलतापूर्वक काम करता है, जिससे उन्हें अपने अधिकारों के बारे में पता चलता है।
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><a href="https://www.narendramodi.in/">श्री नरेन्द्र मोदी जी</a></li>
                            <li><a href="https://jagatprakashnadda.in/">श्री जगत प्रसाद नड्डा जी </a></li>
                            <li><a href="http://amitshah.co.in/">श्री अमित साह जी</a></li>
                            <li><a href="https://www.bjp.org/">भारतीय जनता पार्टी</a></li>
                            <li><a href="https://www.rss.org/">राष्ट्रीय स्वयंसेवक संघ</a></li>                           
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            <b>Lal Singh Arya</b>
                            <br>Head Office : 1229, Ukhari Road, Jabalpur(MP)-482002
                            Factory : 13/41, Industrial Area, Richhai, Jabalpur(MP)
                            Mobile: 9589608667, Email: nicehome@gmail.com
                        </p>
                        <div class="social-links">
                            <a href="#" class="twitter"><i class="icofont icofont-social-twitter"></i></a>
                            <a href="https://www.facebook.com/aryalalsingh" class="facebook"><i class="icofont icofont-social-facebook"></i></a>
                            <a href="#" class="instagram"><i class="icofont icofont-social-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="icofont icofont-social-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                Copyright &copy; 2020 लाल सिंह आर्य - राष्ट्रीय अध्यक्ष-भाजपा, अनुसूचित जाति मोर्चा. &nbsp;All Rights Reserved.
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/serenity-bootstrap-corporate-template/ -->
                Designed by <a href="http://www.truelogic.in/index">True Logic</a>
            </div>
        </div>
    </footer>
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
